:root{
  --bg: #111111;
  --second: lightgray;
  --hover: #333333;
}

body
{
  background-color: var(--bg);
  font-family: 'Rubik', sans-serif;
  color: var(--second);
  text-align: center;
  transition: background 1s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#e{
  background: -webkit-linear-gradient(#edc200, #ed3f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
#tabelaw{
  position: absolute;
  right: 2.5rem;
  top: 2rem;
  font-size: 2vw;
  border: 0.3vh dashed var(--second);
  border-radius: 2.5vh;
  width: 20vw;
  height: 7vw;
  padding: 0px;
  padding-top: 0.8vw;
}
.dr{
  margin: 0px;
  height: 2vw;
}
#title
{
  display: block;
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 600px;
  text-align: center;

}
#gracz
{
  position: absolute;

  font-size: 35px;
  width: 10rem;
  left: 5rem;
  top: 2rem;
  transition: opacity 2s;
}
#plansze{
  transition: opacity 2s;
}

.reset:hover
{
  color: var(--second);
  cursor: pointer;
}
.reset
{
  margin-left: auto;
  margin-right: auto;
  width:auto;
  font-size: 35px;

}

.kosno
{
  z-index: 10;
  width:600px;
  height: 500px;
  font-size: 130px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-300px, -200px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 2s;
}


/*          E          */

main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

main > div{
  display: flex;
  margin: 10px
}

.row ~ .row{
  border-left: 3px solid var(--second);
}
.row > div{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: var(--second);
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row > div:hover{
  background-color: var(--hover);
}

.row > div ~ div{
  border-top: 3px solid var(--second);
}
