:root{
  --bg: #111111;
  --second: lightgray;
  --hover: #333333;
}

body
{
  background-color: var(--bg);
  font-family: 'Rubik', sans-serif;
  color: var(--second);
  text-align: center;
  transition: background 1s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#e{
  background: -webkit-linear-gradient(#edc200, #ed3f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
#tabelaw{
  position: absolute;
  right: 2.5rem;
  top: 2rem;
  font-size: 2vw;
  border: 0.3vh dashed var(--second);
  border-radius: 2.5vh;
  width: 20vw;
  height: 7vw;
  padding: 0px;
  padding-top: 0.8vw;
}
.dr{
  margin: 0px;
  height: 2vw;
}
#title
{
  display: block;
  font-size: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 600px;
  text-align: center;

}
#gracz
{
  position: absolute;

  font-size: 35px;
  width: 10rem;
  left: 5rem;
  top: 2rem;
  transition: opacity 2s;
}
#plansze{
  transition: opacity 2s;
}

.reset:hover
{
  color: var(--second);
  cursor: pointer;
}
.reset
{
  margin-left: auto;
  margin-right: auto;
  width:auto;
  font-size: 35px;

}

.kosno
{
  z-index: 10;
  width:600px;
  height: 500px;
  font-size: 130px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-300px, -200px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 2s;
}


/*          E          */

main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

main > div{
  display: flex;
  margin: 10px
}

.row ~ .row{
  border-left: 3px solid var(--second);
}
.row > div{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: var(--second);
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row > div:hover{
  background-color: var(--hover);
}

.row > div ~ div{
  border-top: 3px solid var(--second);
}


menu > button{
  margin: none;
  padding: none;
  outline: none;
  border: none;

  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgb(116, 116, 116);
  color: white;
  font-size: 1.3rem;
  margin: 10px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}




/*ohh */
.ohh{
  position: relative;
}
.ohh > div{
  position: absolute;
  left: 50% !important;
  transform: translate(-50%);
}

.ohh > div{
  transform-style: preserve-3d;
  transition: all ease 1600ms;
  transition: all ease 1600ms;
  transform-style: preserve-3d;
  z-index: 100;
}

.ohh #p4{
  transform: perspective(5000px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg)
  translateX(-40vw) translateY(500px) translateZ(100px) !important;
} .ohh #p4 .spanko > div{
  border-color: rgb(46, 46, 46) !important;
}

.ohh #p3{
  transform: perspective(5000px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg)
  translateX(-30vw) translateY(500px) translateZ(250px) !important;
}.ohh #p3 > div{
  border-color: rgb(87, 87, 87) !important;
}
.ohh #p2{
  transform: perspective(5000px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg)
  translateX(-20vw) translateY(500px) translateZ(400px) !important;
}.ohh #p2 > div{
  border-color: rgb(148, 148, 148) !important;
}
.ohh #p1{
  transform: perspective(5000px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg)
  translateX(-10vw) translateY(500px) translateZ(550px) !important;
}.ohh #p1 > div{
  border-color: rgb(206, 206, 206) !important;
}

